$grey-darkest:  #252729;
$grey-darker:   #73787d;
$grey-dark:     #9aa0a6;
$grey-medium:   #d8dee4;
$grey-light:    #e6ebf0;
$grey-lighter:  #f2f6f7;
$grey-lightest: #f7f9fa;

$black: #141515;
$white: #fff;

$purple:           hsla(230, 34%, 53%, 1);
$purple-shade:     hsla(229, 38%, 74%, 1);
$purple-alpha:     hsla(230, 34%, 53%, 0.57);
$purple-bg:        hsla(228, 100%, 94%, 1);

$blue-dark:        hsla(218, 64%, 27%, 1);
$blue-dark-shade:  hsla(218, 36%, 43%, 1);
$blue-dark-alpha:  hsla(218, 64%, 27%, 0.78);
$blue-dark-bg:     hsla(217, 100%, 94%, 1);

$blue-light:       hsla(203, 77%, 49%, 1);
$blue-light-shade: hsla(203, 76%, 71%, 1);
$blue-light-alpha: hsla(203, 77%, 49%, 0.53);
$blue-light-bg:    hsla(209, 100%, 94%, 1);

$green:            hsla(171, 69%, 52%, 1);
$green-shade:      hsla(171, 77%, 74%, 1);
$green-alpha:      hsla(171, 68%, 52%, 0.44);
$green-bg:         hsla(172, 100%, 94%, 1);

$yellow:           hsla(41, 98%, 58%, 1);
$yellow-shade:     hsla(42, 98%, 76%, 1);
$yellow-alpha:     hsla(41, 98%, 58%, 0.56);
$yellow-bg:        hsla(48, 100%, 94%, 1);

$orange: #e6ab45;
$orange-shade-1: #f2c16d;
$orange-shade-2: #ffda99;

$red: #ed4c4f;
$red-shade-1: #f26f72;
$red-shade-2: #ff999b;

$brown: #7d5454;
$brown-shade-1: #967474;
$brown-shade-2: #b09999;

$bg-color: $grey-lighter;
$border-color: rgba($grey-medium, 0.7);

$color-channel-beat: $white;
$color-channel-text: $white;
$color-channel-percussion-text: $blue-light;
$color-channel-percussion-border: $blue-light-shade;
$color-channel-percussion-bg: $blue-light-bg;
$color-channel-nohkan-text: $yellow;
$color-channel-nohkan-border: $yellow-shade;
$color-channel-nohkan-bg: $yellow-bg;
$color-channel-dance-text: $purple;
$color-channel-dance-border: $purple-shade;
$color-channel-dance-bg: $purple-bg;

$color-character-aikyogen: $blue-light-shade;
$color-character-shite: $green-shade;
$color-character-waki-tsure: $yellow-shade;
$color-character-jiutai: $red-shade-1;
$color-character-waki: $orange-shade-1;
