.cell--nohkan {
  background-color: $grey-light;
  border-bottom-color: $grey-medium;
  border-right-color: $grey-medium;
  justify-content: flex-start;
  position: relative;

  span {
    @include tooltip();
  }
}

.measure--current {
  .cell--nohkan {
    background-color: $color-channel-nohkan-bg;
    border-bottom: 0.0625rem solid $color-channel-nohkan-border;
    color: $color-channel-nohkan-text;
  }
}
