.cell--dance {
  background-color: $grey-light;
  justify-content: flex-start;
  position: relative;

  span {
    @include tooltip();
  }
}

.measure--current {
  .cell--dance {
    background-color: $color-channel-dance-bg;
    color: $color-channel-dance-text;
  }
}
