.cell--nohkan {
  background-color: $grey-light;
  justify-content: flex-start;
  position: relative;

  span {
    @include tooltip();
  }
}

.measure--current {
  .cell--nohkan {
    background-color: $color-channel-nohkan-bg;
    color: $color-channel-nohkan-text;
  }
}
